<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    
    </style>
</head>

<body class="container" onload="focus()">

    <header>
        <%- include('../partials/header'); %>
            </style>
    </header>


    

    <main>
        <div class="container">
        <form class="form-group" action="/cercaPizzeria" id="form-ricerca" method="POST">
            <label for="ricerca">ricerca</label>
            <input type="text" class="form-control" name="ricerca" value="<%-ricerca %>" id="ricerca" onfocus="let value = this.value; this.value = null; this.value=value" onkeyup="research()">
        </form><br>
        <h3>Pizzerie</h3>
        <%- include("tablePizzerie", {pizzerie}); %>

    </div>

    </main>
    


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>
<script>
    function research() {
        document.getElementById("form-ricerca").submit();
    }
    function focus() {
        document.getElementById("ricerca").focus();
    }
</script>