<div class="table-responsive " style="width:100%">
    <table class="table table-striped table-info ml-auto" >
        <thead class="thead-info">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>city</th>
                <th>state</th>
                <th>address</th>
                <th>number</th>
                <th>vai</th>
            </tr>
        </thead>
        <tbody>
            <% pizzerie.forEach(pizzeria=> { %>
                <tr>
                    <td>
                        <%= pizzeria._id %>
                    </td>
                    <td>
                        <%= pizzeria.name %>
                    </td>
                    <td>
                        <%= pizzeria.city%>
                    </td>
                    <td>
                        <%= pizzeria.state %>
                    </td>
                    <td>
                        <%= pizzeria.address %>
                    </td>
                    <td>
                        <%= pizzeria.number %>
                    </td>
                    <td>
                        <a name="" id="" class="btn btn-primary" href="/creaPizza" role="button">vai</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>